.App {
  width: 900px;
  margin: 20px 40px 40px 40px;
 
}

.App header{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  width: 280px;
}

.App footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-top: 50px;
  font-size: 12px;
  
 }

 .App a {
   padding-left: 5px;
   padding-right: 5px;
   text-decoration: none;
   color: white;
 }

 .App .container {
  padding: 0 20px 0 20px;
  margin: 20px 40px 40px 20px;
  background-color: #94c6e6;
  width: 900px;
  border: 1px solid black;
}

 .App .result-images {
   margin-top: 20px;
    text-align: center;
 }