.Dictionary {
    display: inline-block;
    justify-content: center;
}

.Dictionary h3 {
    font-weight: 200;
    text-align: center;
}

.Dictionary form {
    text-align: center;
}

.Dictionary input:focus{
    outline:2px solid #9c89ff;
}

.Dictionary button {
    height: 30px;
    width: 75px;
    background-color: #e0e3ff;
    border: 1px outset #9c89ff;
    margin-left: 2px;
    padding-right: 12px;
    border-radius: 0 20px 20px 0;
    box-shadow: 5px 5px 8px 0px rgba(1,52,74,0.85);
}

.Dictionary button:hover {
    background-color: #58409e;
    color: white;
}