.ImageResults {
    margin-right: -800px;
}

.ImagesResults h2 {
    text-align: center;
   
}

.ImageResults .row {
    display: flex;
    justify-content: center;
    padding-right: 300px;
    padding-left: 320px;
    margin-top: -550px;
    margin-bottom: 10px;
}


.ImageResults img {
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 8px 0px rgba(1,52,74,0.85);
    margin-bottom: 20px;
    background-color: white;
}