.Results {
    margin-top: 10px;
    
    background-color: aliceblue;
    padding: 10px;
    width: 290px;
    border-radius: 15px;
    box-shadow: 11px 14px 25px 1px rgba(1,52,74,0.85);
}
.Results .container {

    margin: 20px;
    width: 250px;
    
}

.Results h2 {
    margin-top: 10px;
    font-size: 35px;
}

.Results h3 {
    font-size: 16px;
    text-align: left;
}

.Results h4 {
    color: #7e38b7;
    margin-top: 20px;
}

.Results p {
    line-height: 18px;
    padding-right: 5px;
}

.Results .noun {
    line-height: 18px;
    width: 280px;
}

.Results .verb {
    line-height: 18px;
}
